<h1>Create Customer</h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Identification</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="identification" placeholder="Customer identification must be unique"/>
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input the customer identification!</ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">Customer with identification already exist!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Customer name">
      <input nz-input type="text" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Surname</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Customer surname">
      <input nz-input type="text" formControlName="surname"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Gender</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Customer gender">
      <nz-select formControlName="gender">
        <nz-option nzValue="MALE" nzLabel="MALE"></nz-option>
        <nz-option nzValue="FEMALE" nzLabel="FEMALE"></nz-option>
        <nz-option nzValue="OTHER" nzLabel="OTHER"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Age</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Customer age">
      <input nz-input type="number" formControlName="age"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Address</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Customer address">
      <input nz-input type="text" formControlName="address"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Phone number</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Customer phone number">
      <input nz-input type="text" formControlName="phoneNumber"/>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
      <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
      <input nz-input type="password" formControlName="confirm" placeholder="confirm your password"/>
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Enabled</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <label nz-checkbox formControlName="state"></label>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>

</form>
