[nz-form] {
  max-width: 800px;
}

button {
  margin-left: 8px;
  margin-bottom: 20px;
}


.customer-data {
  max-width: 800px;
  position: relative;
  //margin-left: 235px;
  //margin-bottom: 20px;
}
